.about {
  padding: 4rem 2rem;
  text-align: center;
  background: black;

  h2 {
    color: #FFA500;
    margin-bottom: 1rem;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 1000px;
      height: 3px;
      margin: 0.5rem auto 0;
      background: linear-gradient(90deg,#FFA500);
    }
  }

  p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;   // aumenta o espaçamento entre linhas
    font-size: 1.2rem;  // aumenta o tamanho da fonte
    color:#fbfbfc;
    text-align: justify;
  }
}
