.footer {
  background-color: black;
  padding: 1rem 2rem;
  border-top: 2px solid #FFA500; // linha roxa no topo

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFA500;
    font-size: 0.9rem;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
  }

  .footer-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .footer-icon {
      color: #ffa500; // ícone em laranja para destacar
    }

    span {
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}
