@import "@fortawesome/fontawesome-free/css/all.min.css";

// Paleta de cores
$primary-color: #6c63ff;
$secondary-color: #1a1a2e; 
$background-dark: #0f0f1a;
$text-light: #ffffff;
$text-muted: #cccccc;

// Reset básico
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $background-dark;
  color: $text-light;
  scroll-behavior: smooth;
}
