@import "./global.scss";

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 14rem;
  gap: 3rem;
;
  background: black;
  color: $text-light;

  .hero-text {
    max-width: 600px;

    h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
      color:#008080;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;

      span {
        color: lighten($primary-color, 10%);
      }
    }

    
    .hero-buttons {
      display: flex;
      gap: 1rem;

      a {
        background: $primary-color;
        color: $text-light;
        padding: 0.7rem 1.5rem;
        border-radius: 6px;
        text-decoration: none;
        transition: background 0.3s ease;

        &:hover {
          background: lighten($primary-color, 15%);
        }
      }
    }
  }

 .hero-image {
  position: relative;
  display: inline-block;

  img {
    width: 350px;
    border-radius: 50%;
    position: relative;
    z-index: 2; // foto por cima
  }

  // Anel giratório
  &::before {
    content: "";
    position: absolute;
    inset: -18px; // controla a distância entre foto e borda
    border-radius: 50%;
    background: conic-gradient(
     
     #008080
    );
    animation: spinBorder 6s linear infinite;
    z-index: 1;
  }

  // Fundo interno igual ao background da página
  &::after {
    content: "";
    position: absolute;
    inset: -4px; // cobre parte do ::before, criando o espaço
    border-radius: 50%;
    background:#008080; // mesma cor do fundo da página
    z-index: 1;
  }
}


@keyframes spinBorder {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}


  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    .hero-image {
      margin-top: 2rem;
    }
  }
}

